html,body {
	height: 100%;
}

body {
	background: url('../photos/background.jpg') no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*App Container*/

.app-container {
	max-width: 450px;
	width: 100%;
	padding: 25px;
	background: white;
}
.app-container h3 {
	margin: 0 0 25px;

}

/*Add text container/dodanie zadania*/

.new-task-container {
	margin-bottom: 20px;
	
}

/*Task List container/zadania w tabelce*/

.tasks-container ul  {
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.single-task{
	margin-bottom: 12px;
}